

 <!---->
 <div class="container">
    <div class="row">
 
        <div class="input-group my-3 mx-auto">
            <!--job-->
            
            <div class="input group" style="margin-left: 40%">
                <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Select a worker"
                list="jobs" [(ngModel)]="jobType" (change)="setjobIdPassToBooking()">

                 
                
                <datalist id='jobs'> 
                  <option *ngFor="let job of jobs"> {{job.SkillTitle}}</option>
                </datalist>  
                <!---
                <div class="input-group-append">
                    <button class="btn btn-brown btn-md m-0 px-3 py-2 z-depth-0 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Choose a Worker</button>
                </div>
              -->
            </div></div></div></div>
            
           <br>
           
       
            <!-- Date and Time -->
            <div class="jumbortan">
                <div class="row">

                    <div class="col-sm-4" style="margin-left: 33%">
                        <div class="input-group">

                            <input type="date" id="input" class="form-control" mdbInput placeholder="Select a date" [(ngModel)]="date">
                        </div>
                    </div>
                    </div>
                    <br><br>
                    <div class="row" style="margin-left: 15%">
                    <br><br>
                    <div class="col-sm-2">
                        <label for="">
                            <strong> Start Time: </strong>
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <div class="input-group">
                            <input type="time" id="input" class="form-control" mdbInput value="13:00:00" placeholder="Select a Start Time" [(ngModel)]="startTime">
                        </div>
                    </div>
                    <br><br>
                    <div class="col-sm-2">
                        <label for="">
                            <strong> End Time: </strong>
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <div class="input-group">
                            <input type="time" id="input" class="form-control" mdbInput value="13:00:00" placeholder="Select an End Time" [(ngModel)]="endTime">
                        </div>
                    </div>
                </div>
                <br><br>
                <p style="margin-left: 35%">Want to see your Orders?
                        <a routerLink="/client-orders">Go To My Orders</a>
                    </p>

                <br><br>
                <div style="margin-left: 36%">
                  
                  <div class="container">
                      <div class="row">
                          
                              <app-booknow [jobTypeId]='jobIdPassToBooking' ></app-booknow>
                              <app-booklater [jobTypeId]='jobIdPassToBooking'  [date]='date' [startTime]='startTime' [endTime]='endTime'></app-booklater>
                          
                      </div>
                           
                  </div>
                  
              
             </div>
             
         </div>
      
    
  

 