

 <!---->
<form class="form-inline waves-light waves-light" mdbWavesEffect>
 
  <div class="md-form my-3 mx-auto">
     <label style="margin-left:20px">Select the Job type</label> 
    <select class="browser-default custom-select" style="margin-left:160px;margin-top: 2%">
      
      <option *ngFor="let job of jobs" [value]="job.SkillId"> {{job.SkillTitle}}</option>
     
    </select>
    <br>
    <br>


      <div class="btn-group" role="group" aria-label="Basic example" style="margin-right:10%">
        <button mdbBtn type="button " gradient="peach" size="lg"  mdbWavesEffect >Book Now</button>
        <button mdbBtn type="button" gradient="peach" size="lg" mdbWavesEffect>Book Later</button>
        
    </div>
      
      
  </div>
  </form>
