<p style="margin-left: 30%">Want to search a Worker?
    <a routerLink="/worker-search">Search</a>
</p>
  
        <div class="col-sm">
            <mdb-card>
                <mdb-card-body>
              
                  <!--Title-->
                  <mdb-card-title>
                    <h4>Accepted Orders</h4>
                  </mdb-card-title>
                  <!--button with data-->
                  <li *ngFor="let acptOrder of acceptedOrders">
                  <button mdbBtn color="primary" class="waves-light" type="button" (click)="ongjobs.toggle()" mdbWavesEffect>
                    Accepted
                  </button>
                  
                  <div class="" mdbCollapse #ongjobs="bs-collapse">
                        <table class="table table-dark">
                                <tr>
                                    <th >Date</th>
                                    <td >{{acptOrder.OrderDate|date}}</td>
                                    
                                  </tr>
                                  <tr>
                                    <th >Woker First Name</th>
                                    <td >{{acptOrder.FirstName}}</td>
                                    
                                  </tr>
                                
                                  <tr>
                                    <th >Woker Last Name</th>
                                    <td>{{acptOrder.LastName}}</td>
                                   
                                  </tr>
                                  <tr>
                                    <th >Location</th>
                                    <td>{{acptOrder.BaseLocation}}</td>
                                    
                                  </tr>
                                  <tr>
                                    <th >Ratings</th>
                                    <td>{{acptOrder.Rate}}</td>
                                    
                                  </tr>
                                  <tr>
                                    <th >Reviews</th>
                                    <td>{{acptOrder.Review}}</td>
                                    
                                  </tr>
                                  <tr>
                                        <th >Expected Start Time</th>
                                        <td>{{acptOrder.StartTime}}</td>
                                        
                                      </tr>

                                      <tr>
                                            <th >Expected End Time</th>
                                            <td>{{acptOrder.EndTime}}</td>
                                            
                                          </tr>
                                  <tr>
                                        <th >Price</th>
                                        <td>{{acptOrder.FinalPrice|currency}}</td>
                                        
                                      </tr>
                                     
                              </table>
                  </div>
                  <!-- end button with data-->
                  </li>
                </mdb-card-body>
              </mdb-card>
        </div>

        
        <!--Upcoming Jobs-->
        <div class="col-sm">
          <mdb-card>
              <mdb-card-body>
            
                <!--Title-->
                <mdb-card-title>
                  <h4>Cancelled Orders</h4>
                </mdb-card-title>
                <li *ngFor="let cancelledOrder of cancelledOrders">
                <button mdbBtn color="primary" class="waves-light" type="button" (click)="upcoming.toggle()" mdbWavesEffect>
                  Cancelled
                </button>
                
                <div class="" mdbCollapse #upcoming="bs-collapse">
                        <table class="table table-dark">
                                <tr>
                                    <th >Date</th>
                                    <td >{{cancelledOrder.OrderDate|date}}</td>
                                    
                                  </tr>
                                  <tr>
                                    <th >Woker First Name</th>
                                    <td >{{cancelledOrder.FirstName}}</td>
                                    
                                  </tr>
                                
                                  <tr>
                                    <th >Woker Last Name</th>
                                    <td>{{cancelledOrder.LastName}}</td>
                                   
                                  </tr>
                                  <tr>
                                    <th >Location</th>
                                    <td>{{cancelledOrder.BaseLocation}}</td>
                                    
                                  </tr>
                                  <tr>
                                    <th >Ratings</th>
                                    <td>{{cancelledOrder.Rate}}</td>
                                    
                                  </tr>
                                  <tr>
                                    <th >Reviews</th>
                                    <td>{{cancelledOrder.Review}}</td>
                                    
                                  </tr>
                                  <tr>
                                        <th >Price</th>
                                        <td>{{cancelledOrder.FinalPrice|currency}}</td>
                                        
                                      </tr>
                                
                              </table>
                 
                </div>
                </li>
              </mdb-card-body>
            </mdb-card>
      </div>


        <!--Accepted Jobs-->
       
  
        <div class="col-sm">
          <mdb-card>
              <mdb-card-body>
            
                <!--Title-->
                <mdb-card-title>
                  <h4>Completed Orders</h4>
                </mdb-card-title>

                <li *ngFor="let compOrder of clientOrders">
                <button mdbBtn color="primary" class="waves-light" type="button" (click)="acceptedjobs.toggle()" mdbWavesEffect>
                  Completed 
                </button>
                
                <div class="" mdbCollapse #acceptedjobs="bs-collapse">
                  <table class="table table-dark">
                    <tr>
                        <th >Date</th>
                        <td >{{compOrder.OrderDate|date}}</td>
                        
                      </tr>
                      <tr>
                        <th >Woker First Name</th>
                        <td >{{compOrder.FirstName}}</td>
                        
                      </tr>
                    
                      <tr>
                        <th >Woker Last Name</th>
                        <td>{{compOrder.LastName}}</td>
                       
                      </tr>
                      <tr>
                        <th >Location</th>
                        <td>{{compOrder.BaseLocation}}</td>
                        
                      </tr>
                      <tr>
                        <th >Ratings</th>
                        <td>{{compOrder.Rate}}</td>
                        
                      </tr>
                      <tr>
                        <th >Reviews</th>
                        <td>{{compOrder.Review}}</td>
                        
                      </tr>
                      <tr>
                            <th >Price</th>
                            <td>{{compOrder.FinalPrice|currency}}</td>
                            
                          </tr>
                    
                  </table>
                </div>
                </li>
              </mdb-card-body>
            </mdb-card>
      </div>

