<div class="row" style="margin-top: 1cm">
    <mdb-card style="margin-left: 40%">
        <button type="button" class="btn btn-outline-info btn-rounded waves-effect" style="margin-left:0cm" id="para1">Want to go to Dashboard?
            <a routerLink="/worker-dashboard"><strong>Dashboard</strong></a>
        </button>
    </mdb-card>
</div>
<br><br>
  <div class="container">
        <div class="row">
                <div class="col-md-5">
                    <mdb-card>
                        <mdb-card-body>
                      
                          <!--Title-->
                          <mdb-card-title>
                            <h4>Requests</h4>
                          </mdb-card-title>
                          <!--button with data-->
                          <li *ngFor="let request of RequestList">
                          <button mdbBtn color="primary" class="waves-light" type="button" (click)="todayreq.toggle()" mdbWavesEffect>
                            Requests
                          </button>
                          
                          <div class="" mdbCollapse #todayreq="bs-collapse">
                            <table class="table table-dark">
                              
                              <tr>
                                <th >Request Id</th>
                                <td >{{request.RequestId}}</td>
                                
                              </tr>
                            
                              <tr>
                                <th >Job Type</th>
                                <td>{{request.SkillTitle}}</td>
                               
                              </tr>
                              <tr>
                                <th >Client </th>
                                <td>{{request.ClientId}}</td>
                                
                              </tr>
                              <tr>
                                <th >Location</th>
                                <td>{{request.OrderLocation}}</td>
                                
                              </tr>
                              <tr>
                                <th >Date</th>
                                <td>{{request.OrderDate | date}}</td>
                                
                              </tr>
        
                              <tr>
                                <th > Start Time</th>
                                <td> {{request.StartTime | date: 'shortTime'}}</td>
                                
                              </tr>
                              <tr>
                                <th > End Date</th>
                                <td >{{request.ExpectedEndTime |  date: 'shortTime'}}</td>
                                
                              </tr>
                             
                                  <tr>
                                    <td>
                                            <button class="btn btn-default btn-md" (click)="acceptRequest(request.RequestId)">Accept</button>
                            
                                      
                                    </td>
                                    <td> </td>
                                  </tr>
                                 
                            </table>
                          </div>
                          <!-- end button with data-->
                        </li>
                        </mdb-card-body>
                      </mdb-card>
                </div>
        
               </div></div> 
                