<div class="card-deck">
    <mdb-card class="mb-3" borderColor="border-dark" style="max-width: 20rem">
        <mdb-card-header>Today Jobs</mdb-card-header>
        <mdb-card-body>
            <button mdbBtn color="primary" class="waves-light" type="button" (click)="test.toggle()" mdbWavesEffect>
                Toggle collapse
              </button>
              
              <div class="" mdbCollapse #test="bs-collapse">
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
                  keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
              </div>
        </mdb-card-body>
      </mdb-card>
  
      <mdb-card class="mb-3" borderColor="border-dark" style="max-width: 20rem">
        <mdb-card-header>Upcoming Jobs</mdb-card-header>
        <mdb-card-body>
            <button mdbBtn color="primary" class="waves-light" type="button" (click)="test.toggle()" mdbWavesEffect>
                Toggle collapse
              </button>
              
              <div class="" mdbCollapse #test="bs-collapse">
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
                  keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
              </div>
        </mdb-card-body>
      </mdb-card>
  
      <mdb-card class="mb-3" borderColor="border-dark" style="max-width: 20rem">
        <mdb-card-header>Completed Jobs</mdb-card-header>
        <mdb-card-body>
            <button mdbBtn color="primary" class="waves-light" type="button" (click)="test.toggle()" mdbWavesEffect>
                Toggle collapse
              </button>
              
              <div class="" mdbCollapse #test="bs-collapse">
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
                  keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
              </div>
        </mdb-card-body>
      </mdb-card>
  </div>

  <!--bottom part-->
  <div class="card-deck">
    <mdb-card class="mb-3" borderColor="border-dark" style="max-width: 20rem">
        <mdb-card-header>Header</mdb-card-header>
        <mdb-card-body>
          <mdb-card-title>
            <h5>Dark Panel title</h5>
          </mdb-card-title>
          <mdb-card-text>Some quick example text to build on the panel title and make up the bulk of the
            panel's content.</mdb-card-text>
        </mdb-card-body>
      </mdb-card>
  
      <mdb-card class="mb-3" borderColor="border-dark" style="max-width: 20rem">
        <mdb-card-header>Header</mdb-card-header>
        <mdb-card-body>
          <mdb-card-title>
            <h5>Dark Panel title</h5>
          </mdb-card-title>
          <mdb-card-text>Some quick example text to build on the panel title and make up the bulk of the
            panel's content.</mdb-card-text>
        </mdb-card-body>
      </mdb-card>
  
      <mdb-card class="mb-3" borderColor="border-dark" style="max-width: 20rem">
        <mdb-card-header>Header</mdb-card-header>
        <mdb-card-body>
          <mdb-card-title>
            <h5>Dark Panel title</h5>
          </mdb-card-title>
          <mdb-card-text>Some quick example text to build on the panel title and make up the bulk of the
            panel's content.</mdb-card-text>
        </mdb-card-body>
      </mdb-card>
  </div>