
  
        <div class="col-sm">
            <mdb-card>
                <mdb-card-body>
              
                  <!--Title-->
                  <mdb-card-title>
                    <h4>Ongoing Orders</h4>
                  </mdb-card-title>
                  <!--button with data-->
                  <li *ngFor="let ogRequest of ongoingRequest">
                  <button mdbBtn color="primary" class="waves-light" type="button" (click)="todayjobs.toggle()" mdbWavesEffect>
                    Ongoing order
                  </button>
                  
                  <div class="" mdbCollapse #todayjobs="bs-collapse">
                    <table class="table table-dark">
                      <tr>
                        <th >Expected End Date</th>
                        <td >{{ogRequest.ExpectedEndTime|date}}</td>
                        
                      </tr>
                      <tr>
                        <th >Client First Name</th>
                        <td >{{ogRequest.FirstName}}</td>
                        
                      </tr>
                    
                      <tr>
                        <th >Woker Last Name</th>
                        <td>{{ogRequest.LastName}}</td>
                       
                      </tr>
                      <tr>
                        <th >Location</th>
                        <td>{{ogRequest.OrderLoaction}}</td>
                        
                      </tr>
                      <tr>
                        <th >Ratings</th>
                        <td>{{ogRequest.Duration}}</td>
                        
                      </tr>
                      <tr>
                        <th >Reviews</th>
                        <td>{{ogRequest.ContactNumber}}</td>
                        
                      </tr>
                      <tr>
                            <th >Expected Start Time</th>
                            <td>{{ogRequest.HourlyCharge}}</td>
                            
                          </tr>

                          <tr>
                                <th >Expected End Time</th>
                                <td>{{ogRequest.StartTime}}</td>
                                
                              </tr>
                      <tr>
                            <th >Price</th>
                            <td>{{ogRequest.ExpectedPrice|currency}}</td>
                            
                          </tr>
                         
                    </table>
                  </div>
                  <!-- end button with data-->
                </li>
                </mdb-card-body>
              </mdb-card>
        </div>

        
        <!--Upcoming Jobs-->
        <div class="col-sm">
          <mdb-card>
              <mdb-card-body>
            
                <!--Title-->
                <mdb-card-title>
                  <h4>Upcoming Orders</h4>
                </mdb-card-title>
                <button mdbBtn color="primary" class="waves-light" type="button" (click)="upcomingor.toggle()" mdbWavesEffect>
                  Upcoming order
                </button>
                
                <div class="" mdbCollapse #upcomingor="bs-collapse">
                  <table class="table table-dark">
                    <tr>
                      <th >Date</th>
                      <td >{{cancelledOrder.OrderDate|date}}</td>
                      
                    </tr>
                    <tr>
                      <th >Woker First Name</th>
                      <td >{{cancelledOrder.FirstName}}</td>
                      
                    </tr>
                  
                    <tr>
                      <th >Woker Last Name</th>
                      <td>{{cancelledOrder.LastName}}</td>
                     
                    </tr>
                    <tr>
                      <th >Location</th>
                      <td>{{cancelledOrder.BaseLocation}}</td>
                      
                    </tr>
                    <tr>
                      <th >Ratings</th>
                      <td>{{cancelledOrder.Rate}}</td>
                      
                    </tr>
                    <tr>
                      <th >Reviews</th>
                      <td>{{cancelledOrder.Review}}</td>
                      
                    </tr>
                    <tr>
                          <th >Price</th>
                          <td>{{cancelledOrder.FinalPrice|currency}}</td>
                          
                        </tr>
                  
                  </table>
                </div>
                
              </mdb-card-body>
            </mdb-card>
      </div>


        <!--Accepted Jobs-->
       
  
        <div class="col-sm">
          <mdb-card>
              <mdb-card-body>
            
                <!--Title-->
                <mdb-card-title>
                  <h4>Completed Orders</h4>
                </mdb-card-title>
                <button mdbBtn color="primary" class="waves-light" type="button" (click)="acceptedor.toggle()" mdbWavesEffect>
                  Completed orders
                </button>
                
                <div class="" mdbCollapse #acceptedor="bs-collapse">
                  <table class="table table-dark">
                    <tr>
                      <th >Date</th>
                      <td >{{cancelledOrder.OrderDate|date}}</td>
                      
                    </tr>
                    <tr>
                      <th >Woker First Name</th>
                      <td >{{cancelledOrder.FirstName}}</td>
                      
                    </tr>
                  
                    <tr>
                      <th >Woker Last Name</th>
                      <td>{{cancelledOrder.LastName}}</td>
                     
                    </tr>
                    <tr>
                      <th >Location</th>
                      <td>{{cancelledOrder.BaseLocation}}</td>
                      
                    </tr>
                    <tr>
                      <th >Ratings</th>
                      <td>{{cancelledOrder.Rate}}</td>
                      
                    </tr>
                    <tr>
                      <th >Reviews</th>
                      <td>{{cancelledOrder.Review}}</td>
                      
                    </tr>
                    <tr>
                          <th >Price</th>
                          <td>{{cancelledOrder.FinalPrice|currency}}</td>
                          
                        </tr>
                  
                  </table>
                </div>
                
              </mdb-card-body>
            </mdb-card>
      </div>
