<div class="jumbortan">
        <agm-map [latitude]=7.654521 [longitude]=80.254587 class="map">
    
            <agm-marker *ngFor="let worker of workersRealTime" [latitude]="worker.Latitude" [longitude]="worker.Longitude" [iconUrl]="url">
                <agm-info-window [disableAutoPan]=f alse [isOpen]=f alse>
                    <!-- Card --> 
                    <div class="card">
                        <p></p>
                        <div class="container">
                            <div class="row text-center">
                                <div class="col-md-2"></div>
                                <div class="col-md-6">
                                    <img class="card-img-top" src="https://www.pngkit.com/png/detail/349-3499697_man-placeholder-blank-avatar-icon-png.png" alt="Worker Photo" style="height: 100px; width: 100px;">
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                        <!-- Card image -->
    
                        <!-- Card content -->
                        <div class="card-body">
                            <!-- Title -->
                            <h4 class="card-title">
                                <a routerLink="">{{ worker.FirstName }}</a>
                            </h4>
                            <!-- Text -->
                            <p class="card-text">
                                <b>
                                    Rate: {{ worker.Rate }}
                                    <br> Hourly Charge: {{ worker. HourlyCharge }}
                                </b>
                            </p>
                            <div class="text-center">
                                <!-- Button -->
                                <a routerLink="/worker-profile" class="btn btn-default btn-sm" style="border-radius: 25px">View Profile</a>
                            </div>
    
    
                        </div>
    
                    </div>
                    <!-- Card --> 
    
                </agm-info-window>
            </agm-marker>
    
        </agm-map>
    
        <div class="container mt-5 text-canter">
            <div class="row text-center" style="display: inline">
                <button class="btn btn-lg btn-warning" (click)="navigateToLogin()" *ngIf = "!isLogged && !noAvailableWorkers">Login to Book Workers</button>
                <button class="btn btn-lg btn-warning" (click)="sendRequest()" *ngIf = "isLogged && !noAvailableWorkers">Send Requests</button>
                <button class="btn btn-lg btn-warning" (click)="navigateToSearch()" *ngIf = "!noAvailableWorkers">Go Back To Search</button>
            </div>
        </div>
    </div>