<div class="col-md-6 col-xl-5 offset-xl-3">
 <mdb-card class="wow fadeInRight example z-depth-5"  data-wow-delay="0.3s" >
  <mdb-card-body>
    <!--Header-->
    <div class="text-center">
      <h3 class="black-text">
        <mdb-icon fas icon="user" class="text-brown"></mdb-icon> Register:</h3>
      <hr class="hr-light">
    </div>
    <!--Body-->
    <div class="md-form">
      <mdb-icon fas icon="user" class="text-black-50 active"></mdb-icon>
      <input type="text" id="form3" class="text-black form-control" mdbInput>
      <label for="form3" class="text-black-50" >Your name</label>
    </div>
    <div class="md-form">
      <mdb-icon fas icon="envelope" class="text-black-50 active"></mdb-icon>
      <input type="email" id="form2" class="text-brown form-control" mdbInput>
      <label for="form2" class="text-black-50">Your email</label>
    </div>
    <div class="md-form">
      <mdb-icon fas icon="lock" class="text-black-50 active"></mdb-icon>
      <input type="password" id="form4" class="text-brown form-control" mdbInput>
      <label for="form4" class="text-black-50">Your password</label>
    </div>
    <div class="text-center mt-4">
      <button mdbBtn color="brown" mdbWavesEffect>Sign up</button>
      <hr class="hr-light mb-3 mt-4">
      <div class="inline-ul text-center d-flex justify-content-center">
        <a class="p-2 m-2 tw-ic">
          <mdb-icon fab icon="twitter" class="text-brown"></mdb-icon>
        </a>
        <a class="p-2 m-2 li-ic">
          <mdb-icon fab icon="linkedin-in" class="text-brown"></mdb-icon>
        </a>
        <a class="p-2 m-2 ins-ic">
          <mdb-icon fab icon="instagram" class="text-brown"></mdb-icon>
        </a>
      </div>
    </div>
  </mdb-card-body>
</mdb-card>
</div>