<div class="col-md-6 col-xl-5 offset-xl-3" >
 <mdb-card class="wow fadeInRight example z-depth-5"  data-wow-delay="0.3s" >
  <mdb-card-body>
    <!--Header-->
    <div class="text-center">
      <h3 class="black-text">
        <mdb-icon fas icon="user" class="text-brown"></mdb-icon> Register:</h3>
      <hr class="hr-light">
    </div>
    <!--Body-->
    <form class="text-center border border-light p-5" [formGroup]="form" (ngSubmit)="registerSubmit(form)">
        <div class="md-form">
            <mdb-icon fas icon="envelope" class="text-black-50 active"></mdb-icon>
            <input type="email" class="form-control" placeholder="E-mal" formControlName="username" mdbInput>
            <label for="form2" class="text-black-50">Your email</label>
          </div>



    <div class="md-form">
        <mdb-icon fas icon="phone" class="text-black-50 active"></mdb-icon>
        <input type="text" class="form-control" placeholder="Phone Number" formControlName="contactNumber" mdbInput>
        <label for="form5" class="text-black-50">Your contact number</label>
      </div>
    
    <div class="md-form">
      <mdb-icon fas icon="lock" class="text-black-50 active"></mdb-icon>
      <input type="password" class="form-control " placeholder="Password" formControlName="password" mdbInput>
      <label for="form4" class="text-black-50">Your password</label>
    </div>
    <div>

        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input"  mdbInput formControlName="userType" value="1" id="workerradio">
            <label class="custom-control-label" for="workerradio">Register as a Worker</label>
        </div>
        <div class="col-md-6">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" mdbInput formControlName="userType" value="0" id="clientradio">
                <label class="custom-control-label" for="clientradio">Register as a Client</label>
            </div>
        </div>

    </div>
    
    <div class="text-center mt-4">
      <button  mdbBtn color="brown" mdbWavesEffect>Sign up</button>
      <hr class="hr-light mb-3 mt-4">
      
    </div>
    </form>
  </mdb-card-body>
</mdb-card>
</div>