

<div class="col-sm">
  <mdb-card>
      <mdb-card-body>
    
        <!--Title-->
        <mdb-card-title>
          <h4>Book Later</h4>
        </mdb-card-title>
        <!--button with data-->
        <li *ngFor="let availableW of availableWorkers">
        <button mdbBtn color="primary" class="waves-light" type="button" (click)="ongjobs.toggle()" mdbWavesEffect>
          Available Workers
        </button>
        
        <div class="" mdbCollapse #ongjobs="bs-collapse">
              <table class="table table-dark">
                      
                        <tr>
                          <th >Worker First Name</th>
                          <td >{{availableW.firstName}}</td>
                          
                        </tr>
                      
                        <tr>
                          <th >Worker Last Name</th>
                          <td>{{availableW.lastName}}</td>
                         
                        </tr>
                        <tr>
                          <th >Location</th>
                          <td>{{availableW.baseLocation}}</td>
                          
                        </tr>
                        <tr>
                          <th >Ratings</th>
                          <td>{{availableW.rate}}</td>
                          
                        </tr>
                        <tr>
                          <th >Reviews</th>
                          <td>{{availableW.skillDescription}}</td>
                          
                        </tr>
                        

                            
                        <tr>
                              <th >Price</th>
                              <td>{{availableW.hourlyCharge|currency}}</td>
                              
                            </tr>
                           
                    </table>
        </div>
        <!-- end button with data-->
        </li>
        <button class="btn btn-brown" (click)="sendRequest()" *ngIf = "isLogged && !noWorkers">Send Requests</button>
      </mdb-card-body>
    </mdb-card>
</div>
