<div class="container">
    <div class="row">
      <div class="col-md-4"><mdb-card>
          <!--Card image-->
          <mdb-card-img src="https://www.pngkit.com/png/detail/349-3499697_man-placeholder-blank-avatar-icon-png.png" alt="Card image cap"></mdb-card-img>
          <!--Card content-->
          <mdb-card-body>
        
            <!--Title-->
            <mdb-card-title>
              <h4 style="margin-left: 30%">Name</h4>
            </mdb-card-title>
        
            
            <button class="btn peach-gradient"  style="margin-left: 25%"  >
            Upload New
            </button>
          </mdb-card-body>
        </mdb-card></div>




      <div class="col-md-8"><mdb-card>
  
  <mdb-card-body>

    <!-- Default horizontal form -->
<form>
    <!-- Grid row -->
    <div class="form-group row">
      <!-- Default input -->
      <label for="inputNamel3" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input mdbInput type="email" class="form-control" id="inputNamel3" placeholder="Name">
      </div>
    </div>
    <!-- Grid row -->
  
    <!-- Grid row -->
    <div class="form-group row">
      <!-- Default input -->
      <label for="inputContact3" class="col-sm-2 col-form-label">Contact Number</label>
      <div class="col-sm-10">
        <input mdbInput type="password" class="form-control" id="inputContact3" placeholder="Contact Number">
      </div>
    </div>
    <!-- Grid row -->

    <div class="form-group row">
        <!-- Default input -->
        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input mdbInput type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
      </div>
      <!-- Grid row -->
    
      <!-- Grid row -->
      <div class="form-group row">
        <!-- Default input -->
        <label for="inputlocationl3" class="col-sm-2 col-form-label">Base Location</label>
        <div class="col-sm-10">
    <select class="browser-default custom-select" >
      
      <option *ngFor="let location of locations" [value]="location.id"> {{location.name}}</option>
     
    </select></div>
      </div>
  
    <!-- Grid row -->
    <div class="form-group row">
      <div class="col-sm-10" style="margin-left:15%">
        <button type="submit" class="btn peach-gradient">Submit</button>
        <button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"
  (click)="frame.show()" mdbWavesEffect>Update</button>

<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
          <input type="email" id="defaultForm-email" [formControl]="loginFormModalEmail" class="form-control"
                 mdbInput mdbValidate>
          <label for="defaultForm-email">Your email</label>
          <mdb-error
            *ngIf="loginFormModalEmail.invalid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">
            Input invalid
          </mdb-error>
          <mdb-success
            *ngIf="loginFormModalEmail.valid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">Input
            valid
          </mdb-success>
        </div>

        <div class="md-form mb-4">
          <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>
          <input type="password" id="defaultForm-pass" [formControl]="loginFormModalPassword" class="form-control"
                 mdbInput mdbValidate>
          <label for="defaultForm-pass">Your password</label>
          <mdb-error
            *ngIf="loginFormModalPassword.invalid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
            Input invalid
          </mdb-error>
          <mdb-success
            *ngIf="loginFormModalPassword.valid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
            Input valid
          </mdb-success>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="default" class="waves-light" mdbWavesEffect>Login</button>
      </div>
    </div>
  </div>
</div>
        
      </div>
    </div>
    <!-- Grid row -->
  </form>
  <!-- Default horizontal form -->

    
  </mdb-card-body>
</mdb-card></div>
      <div class="w-100"></div>
      
    </div>
  </div>