<div class="container">
    <br>
    <div class="row" *ngFor="let profile of workerData">
        <div class="col-md-2">
            <div class="card" style="border-radius: 10%; margin-left: 5%">
                <div class="container">
                    <img src={{profile.ImgUrl}} alt="Default profile image" ([ngModel])="ImgUrl">
                </div>

            </div>
        </div>

        <div class=" from col-md-5" [formGroup]="form">
            <div class="form-row">
                <!-- Name -->
                <div class="col-md-2">
                    <label for="clientFName">First Name: </label>
                </div>

                <div class="col-md-4">
                    <input type="text" id="clientFName" formControlName="firstName" class="form-control mb-4 input-group-lg inline" value={{profile.FirstName}}
                        placeholder="First Name" [(ngModel)]="FirstName">
                </div>
                <div class="col-md-2">
                    <label for="clienLtName">Last Name: </label>
                </div>

                <div class="col-md-4">
                    <input type="text" id="clientLName" formControlName="lastName" class="form-control mb-4 input-group-lg inline" value={{profile.LastName}}
                        placeholder="Last Name" [(ngModel)]="LastName">
                </div>

            </div>
            <div class="form-row">
                <!-- Email -->
                <div class="col-md-2">
                    <label for="clientEmail">E-mail: </label>
                </div>

                <div class="col-md-10">
                    <input type="email" id="clientEmail" formControlName="email" class="form-control mb-4 input-group-lg" value={{profile.UserEmail}}
                        placeholder="E-mail" [(ngModel)]="Email">
                </div>
            </div>
            <div class="form-row">
                <!-- Phone Number -->
                <div class="col-md-2">
                    <label for="clientContactNo">Contact Number: </label>
                </div>

                <div class="col-md-10">
                    <input type="contactNo" id="clientContactNo" formControlName="contactNo" class="form-control mb-4 input-group-lg" value={{profile.ContactNumber}}
                        placeholder="Contact Number" [(ngModel)]="ContactNumber">
                </div>
            </div>
            <div class="form-row">
                <!-- Base Location -->
                <div class="col-md-2">
                    <label for="clientLocation">Base Location: </label>
                </div>

                <div class="col-md-10">
                    <input type="text" id="clientLocation" formControlName="location" class="form-control mb-4 input-group-lg" placeholder="Location"
                        value={{profile.BaseLocation}} [(ngModel)]="BaseLocation">
                </div>
            </div>
            <p style="margin-left: 25%"> Back to Dashboard?
                <a routerLink="/worker-dashboard"><strong>Dashboard</strong></a>
            </p>
            <br>
            <button class="btn btn-warning btn-sm float-right" *ngIf="isWorker && !isEditing" (click)="setUpdating()">
                Edit</button>
            <button class="btn btn-warning btn-sm float-right" *ngIf="isEditing" (click)="updateProfile()">
                Save</button>
            <button class="btn btn-danger btn-sm float-right" *ngIf="isEditing" (click)="cancelUpdate()">
                Cancel</button>

        </div>
        <br>


        <div class="col-md-5">
            
            <div class="card" style="margin-left: 2%; margin-right: 2%; margin-top: 1%;">
                <div class="card-body scroll-box">
                    <div class="scrollbar scrollbar-default">
                        <div class="force-overflow"></div>
                    </div>
                    <p>Review1</p>
                    <p>Review2</p>
                    <p>Review3</p>
                </div>
            </div>

        </div>
    </div>
    <br>
    <hr>
    <div class="row" style="margin-right: 2%">
        <h5>My Skills</h5>
        <br><br>
        <button class="btn btn-warning btn-sm float-left" style="margin-right: auto;" data-toggle="modal" data-target="#basicExample"
            (click)="frame.show()" *ngIf="isWorker" mdbWavesEffect>Add Skill</button>
    </div>
    
</div>


